.contact_body{
    height:100vh;
    background-color: #F2F1EE;
    padding: 20px;
    align-items: center;
    text-align:center;
}
@media screen and (max-width:768px) {
    .contact_body{
        height: auto;
        padding: 10px; 
       
    }
    .contact_button{
        margin-top: 23px  !important;
        padding:5px 15px !important;
        background: #691111a4  ;
         color: white ;
        text-align: center ;
        text-decoration: none ;
       
    }

    .texts{
        /* margin: 0 auto; */
        width:1000%;
        width: 100% !important;
        /* padding-top: 10%; */
    
    }



    
}
@media screen and (max-width:1024px) {

    .contact_button{
        margin-top: 23px  !important;
        padding:5px 15px !important;
        background: #691111a4  ;
         color: white ;
        text-align: center ;
        text-decoration: none ;
       
    }

    
}

.texts{
    margin: 0 auto;
    width:37%;
    padding-top: 10%;

}

.texts_main{
    font-weight: 400;
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 23px;
    
}

.contact_button{
    margin-top: 23px;
    padding:10px 155px;
    background: #691111a4 ;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 0px solid #691111a4 ;
    border-radius: 5px;
    cursor: pointer;

}