.header{
    display: flex;
    flex-direction: row;
    padding:1rem;
    padding-left: 1.5rem;
    overflow-x: hidden;
    background-color: #F2F1EE;

    @media screen and (max-width:768px) {
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }  
}

.textLogo{
    max-width: 300px;
    min-width: 400px;
    display: flex;
    font-weight: 500;
    line-height: 20px;
    align-items: center;
    font-size: 15px;

    
    @media screen and (max-width:768px) {
        min-width: 100px;
        font-weight: 900;
        max-width: 100px;
       font-size: 14px;
    }
}

.navSection{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    flex-wrap: wrap;

    @media screen and (max-width:768px) {
       padding-right: 1rem;
    }

}
.navItem{
    font-size: 15px;
    font-weight: 700;
    margin-right: 1rem;
}
.logo{
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-right:0.7rem;

    @media screen and (max-width:768px) {
        margin-right: 0.3rem;
    }
}

.hideOnDesktop{
    display: none;
    @media screen and (max-width:768px) {
        display: flex;
    }
}

.hideOnMobile{
    display: flex;
    @media screen and (max-width:768px) {
        display: none;
        // visibility: hidden;
    }
}