.homebody{
    padding-top: 10px;
}


.homebody-para1{
padding: 10px;
size: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width:auto;
}

.homebody-para2{
    font-size: 30px;
    font-weight: bold;
}

.homebody-para3{
    display: block;
    font-size: 18px;
    text-align: justify;
    line-height: 1.7;
    padding: 10px;
}

.homebody-para4{
    display: block;
    font-size: 18px;
    text-align: justify;
    padding: 10px;
    line-height: 2;
}
.homebody-para5{
   
    padding:10px;
    margin-top: 5px;    
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
   
    text-align: justify;
    display: flex;
    border-left: 3px solid red;

    
}

.line{
    border-left: 3px solid red;
   
}



@media only screen and (max-width: 768px){
    .homebody{
        padding-top: 1rem;
    }

    .homebody-para2{
        font-size: 25px;
    }
    .homebody-para3{
        font-size: 17px;
       
     
    }

    .homebody-para4{
        font-size: 15px;
        padding: 5px;
    }
}


@media only screen and (max-width: 430px){
    .homebody{
        padding-top: 13rem;
    }
    .homebody-para2{
        font-size: 22px;
    }
}