/* .about{
    width: 100%;
} */

/* .about-up{
    height: 100vh;
    /* width: 100%; */
    /* background-color: #F2F1EE;
    padding-top: 20px; */
   
/* } */ 
/* .about_up_main{
    height: 80%;
    position: absolute;
    /* left: 10%; */
    /* padding: 10% 0px 0px 20px; */
    
    
/* } */ 

/* .about_up_para1{
    font-size: 45px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* .about_up_para1_span{
    cursor: pointer;
    border-bottom: 2.5px solid red;
} */


/* 
.about__head--pix{
    padding: 10px;
    border-radius: 15px;
    background-image: url('/public/images/about_side.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
} */

/* @media screen and (max-width:768px) { */
 

    /* .about-up{
        height: auto !important;
        padding-top: 1px !important;

    }

    .about_up_main{
        padding: 30px;

    }

    .about_up_para1{
        font-size: 35px;
        font-weight: 500;    
    } */

/*  
   
/* } */ 

.about{
    background-color:#F2F1EE ;
    height: 80vh;
}
.about_up_para1{
    font-size: 45px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about_up_para1_span{
    cursor: pointer;
    border-bottom: 2.5px solid red;
}

.b{
    font-weight: bold;
}



.about__head--pix{
    background-image: url('/public/images/about_side.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 80vh;
}



@media screen and (max-width:768px) {
    .about_up_para1{
        font-size: 30px;
    }
}

@media screen and (max-width:430px) {
    .about{
        margin-bottom: 150px;
    }
}