.about_body{
    margin-top:50px
}

.text{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size:17px;
    line-height: 2;
    display:block;
}
.about_para_1{
    font-weight: 600;
    font-size: 70px;
}

@media screen and (max-width:768px) {
    .text{
        line-height: 1.7;
        font-size: 15px;
    }
}