.homeLandPage{
    background-color: #F2F1EE;
    height: 95vh;
    padding-top: 40px;
    position: relative;
}

.home__info{
    position: absolute;
    top: 9%;
    left: 3%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head__info--main{
    color: #691111a4;
}

.head__info--sub{
    font-size: 20px;
    font-family: serif;
    display: block;
}

.home__info--Button{
    font-size: 20px;
    text-align: none;
    background: #691111a4 ;
    color: white;
    text-align: center;
    border-radius: 10rem;
    padding: 5px 40px;
}

.home__info--Button:link,
.home__info--Button:visited{
    text-decoration: none;
    padding: 10px, 30px;
    display: inline-block;
    border-radius: 100px;
    position: relative;

}

.home__info--Button:hover{
    text-decoration: none;
    color: white;
}

.home__head--pix{
    /* padding: 10px; */
    border-radius: 15px;
    background-image: url('/public/images/home_side.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

@media  screen and (max-width: 768px){
    .homeLandPage{
        height: 95vh;
        position: relative;
   
    }
    

    .home__info{
    position: absolute;
    top: 1%;
    font-size: 20px;

    }

    .home__head--pix{
        margin-top: 1px;
        background-size: cover;
      
    }

    .home__info--Button{
        font-size: 18px;
        padding: 5px 30px;
    }
} 

@media screen and (max-width:430px) {
    .home__info{
    
        font-size: 18px;
        padding-bottom: 20px;
        }

}